.Button{
    margin: 0px auto;
    background-color: #8f0f32;
    width:100%;
    max-width: 350px;
    height: 50px;
    border-radius: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-width: 0px;
    outline: none;
    flex:1;
}

/*
Button after hovering
 */
.Button:hover{
    background-color: #c40c3d;
    transition: background-color 0.3s ease;
}

.ButtonText{
    color: rgb(255, 255, 255);
    font-size: larger;
}

/*
Button text on small screens
 */
@media (max-width: 600px){
    .ButtonText{
        font-size: medium;
    }
}

.Small{
    height: 33px; 
}

.TextSmall{
    font-weight: 400;
    font-size: small;
}