.Button{
    margin: 0px auto;
    background-color: #8f0f32;
    padding-left: 90px;
    padding-right: 90px;
    height: 50px;
    border-radius: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-width: 0px;
    outline: none;
}

.Button:hover{
    background-color: #c40c3d;
    transition: background-color 0.3s ease;
}

.ButtonText{
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight: 500;
}


@media (max-width: 600px){
    .ButtonText{
        font-size: medium;
    }
}
