.Sidebar{
    width:33%;
    height:100%;
}

.Databar{
    width:100%;
    max-height:calc(100% - 60px);
    padding: 30px;
}

.App{
    display:flex;
    height:100vh;
}

.background {
    background-color: #f9f7f9;
}

@media (max-width: 600px) {
    .Sidebar{
        width:0%;
    }
  }